global:
  scrape_interval: <%= @scrape_interval %>s
  scrape_timeout: <%= @scrape_timeout %>s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['<%= @listen_address %>']
<% if node['gitlab']['node-exporter']['enable'] %>
  - job_name: node
    static_configs:
      - targets: ['<%= node['gitlab']['node-exporter']['listen_address'] %>']
<% end -%>
<% if node['gitlab']['redis-exporter']['enable'] %>
  - job_name: redis
    static_configs:
      - targets: ['<%= node['gitlab']['redis-exporter']['listen_address'] %>']
<% end -%>
<% if node['gitlab']['postgres-exporter']['enable'] %>
  - job_name: postgres
    static_configs:
      - targets: ['<%= node['gitlab']['postgres-exporter']['listen_address'] %>']
<% end -%>
<% if node['gitlab']['gitlab-monitor']['enable'] %>
  - job_name: gitlab_monitor_database
    metrics_path: /database
    static_configs:
      - targets: ['<%= node['gitlab']['gitlab-monitor']['listen_address'] + ":" + node['gitlab']['gitlab-monitor']['listen_port'] %>']
  - job_name: gitlab_monitor_sidekiq
    metrics_path: /sidekiq
    static_configs:
      - targets: ['<%= node['gitlab']['gitlab-monitor']['listen_address'] + ":" + node['gitlab']['gitlab-monitor']['listen_port'] %>']
  - job_name: gitlab_monitor_process
    metrics_path: /process
    static_configs:
      - targets: ['<%= node['gitlab']['gitlab-monitor']['listen_address'] + ":" + node['gitlab']['gitlab-monitor']['listen_port'] %>']
<% end -%>
<% if node['gitlab']['prometheus']['monitor_kubernetes'] %>
  - job_name: kubernetes-nodes
    scheme: https
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
      insecure_skip_verify: true
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    kubernetes_sd_configs:
    - role: node
    relabel_configs:
    - action: labelmap
    regex: __meta_kubernetes_node_label_(.+)
    metric_relabel_configs:
    - source_labels: [pod_name]
      target_label: environment
      regex: (.+)-.+-.+
  - job_name: 'kubernetes-pods'
    kubernetes_sd_configs:
    - role: pod
    relabel_configs:
    - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
      action: keep
      regex: true
    - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
      action: replace
      target_label: __metrics_path__
      regex: (.+)
    - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
      action: replace
      regex: ([^:]+)(?::\d+)?;(\d+)
      replacement: $1:$2
      target_label: __address__
    - action: labelmap
      regex: __meta_kubernetes_pod_label_(.+)
    - source_labels: [__meta_kubernetes_namespace]
      action: replace
      target_label: kubernetes_namespace
    - source_labels: [__meta_kubernetes_pod_name]
      action: replace
      target_label: kubernetes_pod_name
    - source_labels: [__meta_kubernetes_pod_name]
      target_label: environment
      regex: (.+)-.+-.+
<% end -%>
